div.detail-box.z-depth-1.row(ng-controller="detailBoxController")
    div.col.s12
    div.col.s6
        div.slider
            ul.slides
                - for (var i = 0; i < detailBox.images.length; i++) {
                    li
                        img(src="#{detailBox.images[i]}")
                - }
                
    div.col.s6
        h1.item-name #{detailBox.name}
        h2.item-price ￥#{detailBox.price}
        - if (detailBox.noBargain)
            p.bargain 不可讲价
        - else
            p.bargain 可讲价
        table
            - if (detailBox.location)
                tr
                    td.attr 
                        p 交易地点
                    td
                        h1.item-location #{detailBox.location}
            - if (detailBox.publisher_name)
                tr
                    td.attr 
                        p 发布者
                    td
                        - if(session.login)
                            h1.item-qq #{detailBox.publisher_name}
                        - else
                            h1.item-qq 登陆后可见
            - if (detailBox.tel)
                tr
                    td.attr 
                        p 手机
                    td
                        - if(session.login)
                            h1.item-tel #{detailBox.tel}
                        - else
                            h1.item-tel 登陆后可见
            - if (detailBox.qq)
                tr
                    td.attr 
                        p QQ
                    td
                        - if(session.login)
                            h1.item-qq #{detailBox.qq}
                        - else
                            h1.item-qq 登陆后可见
            - if (detailBox.wechat)
                tr
                    td.attr 
                        p 微信号
                    td
                        - if(session.login)
                            h1.item-qq #{detailBox.wechat}
                        - else
                            h1.item-qq 登陆后可见
            tr
                td.attr 
                    p 发布时间
                td
                    h1.item-pub-time #{detailBox.pubTime}
        - if(session.userid == detailBox.publisher_id && detailBox.status!='saled'&& detailBox.status!='undercarriage')
            button.edit-btn.btn-floating.btn-large.red(ng-click="showDetailEditor()") 修改
        - if(detailBox.status=='saled')
            button.edit-btn.btn-floating.btn-large.teal.accent-4() 已售出
        - if(detailBox.status=='undercarriage')
            button.edit-btn.btn-floating.btn-large.red(ng-click="showDetailEditor()") 已下架
                //-i.large.material-icon mode_edit
div.detail-box.z-depth-1.row
    h1.title 商品详情
    - for (var i = 0; i < detailBox.detail.length; i++) {
        p #{detailBox.detail[i]}
    - }
    
        

        

