div.detail-box.z-depth-1.row(ng-controller="detailBoxController")
    div.col.s12
    div.col.s6
        div.slider
            ul.slides
                - for (var i = 0; i < detailBox.images.length; i++) {
                    li
                        img(src="#{detailBox.images[i]}")
                - }
                
    div.col.s6
        h1.item-name #{detailBox.name}
        h2.item-price ￥#{detailBox.price}
        - if (detailBox.noBargain)
            p.bargain 不可讲价
        - else
            p.bargain 可讲价
        table
            - if (detailBox.location)
                tr
                    td.attr 
                        p 交易地点
                    td
                        h1.item-location #{detailBox.location}
            - if (detailBox.tel)
                tr
                    td.attr 
                        p 手机
                    td
                        h1.item-tel #{detailBox.tel}
            - if (detailBox.stuNo)
                tr
                    td.attr 
                        p 学号
                    td
                        h1.item-tel #{detailBox.stuNo}
            - if (detailBox.qq)
                tr
                    td.attr 
                        p QQ
                    td
                        h1.item-qq #{detailBox.qq}
            - if (detailBox.wechat)
                tr
                    td.attr 
                        p 微信号
                    td
                        h1.item-qq #{detailBox.wechat}
            tr
                td.attr 
                    p 发布时间
                td
                    h1.item-pub-time #{detailBox.pubTime}
div.detail-box.z-depth-1.row
    h1.title 商品详情
    p #{detailBox.detail}
        

        

