html(ng-app="starkAPP")
    head
        title 复旦二手市场
        meta(name="keywords",content="复旦,复旦大学,复旦二手工坊,校园,大学,大学生,二手,闲置,二手市场,跳蚤市场,旧货市场,二手网,二手交易,校园二手,校园二手市场,校园二手网,校园跳蚤市场,大学生二手,大学生二手市场,大学生二手网,大学生跳蚤市场")
        meta(name="description",content="复旦人自己的二手交易平台！涵盖闲置数码、校园代步、电器日用、图书教材、美妆衣物、运动棋牌、票券小物。满足复旦学生校园内的二手交易的需求。学号认证更安全，校内交易更方便。")
        link(rel="icon",href="/static/img/favicon.ico",mce_href="/static/img/favicon.ico",type="image/x-icon")
        link(rel='stylesheet',href='/static/pages/index/index.css')
        script(type='text/javascript',src='/static/base/jquery.js')
        script(type='text/javascript',src='/static/pages/index/index.bundle.js')
        script(type='text/javascript',src='/static/base/materialize.min.js')
        script $(document).ready(function(){$('.slider').slider({full_width: true});});
        link(rel="stylesheet",href="/static/base/materialize-icon.css")
    body(ng-view,ng-cloak)
        include ../components/header/header.jade
        include ../components/back-to-top/back-to-top.jade
        include ../components/sidebar/sidebar.jade
        div.main-content(ng-controller="headerController")
            - if(data.bannerItem.length>0)
                div.slider-wapper
                    div.slider
                        ul.slides
                            - for(var i =0;i<data.bannerItem.length;i++){
                                li
                                    img(src="#{data.bannerItem[i].coverImage}") 
                                    - if(i%3==0)
                                        div.caption.center-align
                                            a(href="/item/#{data.bannerItem[i].pubTimeStamp}")
                                                h3 #{data.bannerItem[i].name}
                                                h5.light.grey-text.text-lighten-3 ￥#{data.bannerItem[i].price}
                                                h4 立即查看 >
                                    - if(i%3==1)
                                        div.caption.right-align
                                            a(href="/item/#{data.bannerItem[i].pubTimeStamp}")
                                                h3 #{data.bannerItem[i].name}
                                                h5.light.grey-text.text-lighten-3 ￥#{data.bannerItem[i].price}
                                                h4 立即查看 >
                                    - if(i%3==2)
                                        div.caption.left-align
                                            a(href="/item/#{data.bannerItem[i].pubTimeStamp}")
                                                h3 #{data.bannerItem[i].name}
                                                h5.light.grey-text.text-lighten-3 ￥#{data.bannerItem[i].price}
                                                h4 立即查看 >
                            - }
            div.index-title 
                a(href="/category/all") 最新发布
                hr.hr1
                hr.hr2
            div.waterfoo.row
                div.item-wrapper.normal
                    - if(data.all.length >0)
                        - for(var i =0;i<data.all.length;i++){
                            div.card.col
                                a(href="/item/#{data.all[i].pubTimeStamp||0}")
                                    div.card-image(style="background-image:url(#{data.all[i].image[0]})")
                                        //- img(ng-src="{{item.image[0]}}")
                                    div.card-content.item-price ￥#{data.all[i].price}
                                    div.card-content.item-name
                                        p #{data.all[i].name}
                                    div.card-content.item-location
                                        p #{data.all[i].location}
                                        p #{data.all[i].pubTime}         
                        - }
                    - else
                        div 空的哦
            - for(category in fliter){
                - if(category!='all'&&data[category].length >0)
                    div.index-title
                        a(href="/category/#{category}") #{fliter[category]}
                        hr.hr1
                        hr.hr2
                    div.waterfoo.row
                        div.item-wrapper.normal
                            - for(var i =0;i<data[category].length;i++){
                                div.card.col
                                    a(href="/item/#{data[category][i].pubTimeStamp||0}")
                                        div.card-image(style="background-image:url(#{data[category][i].image[0]})")
                                            //- img(ng-src="{{item.image[0]}}")
                                        div.card-content.item-price ￥#{data[category][i].price}
                                        div.card-content.item-name
                                            p #{data[category][i].name}
                                        div.card-content.item-location
                                            p #{data[category][i].location}
                                            p #{data[category][i].pubTime}           
                            - }
            - }